# dependencies
Backend/node_modules
Client/node_modules
node_modules

# build folders
Client/dist
dist

# environment files
.env
Backend/.env
Client/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db
